@media screen and (max-width: 1000px) {
    body {
        background: none;
        background-color: #f2e8d8;

    }

    .StartPage {padding: 1rem; 
        
        background: url("../assets/picter/items/bg/1.png"), url("../assets/picter/items/bg/2.png"), url("../assets/picter/items/bg/3.png"), url("../assets/picter/items/bg/4.png");
        background-size: 12rem 8rem, 10rem 8rem, 10rem 10rem, 10rem 10rem;
        background-position: 0 0, 250px 0px, bottom right, left bottom ;
        background-repeat: no-repeat;
        }
    
    .StartPage__logo {
        width: 0.5rem;
        height: .5rem;
    }

    .StartPage__logoPic{
        width: inherit;
        height: inherit;
    
        margin-right: 10px;
    }
    

    .StartPage__logo > a {font-size: 1rem;}

    .StartPage__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .StartPage__left {
        width: 20rem;
        flex: 1;
        margin-right: 0rem;
        margin-top: 1rem;
        text-align: center;
        
    }
    
    .StartPage__left > a {
        display: flex;
        justify-content: center;
    }
    
    .StartPage__right {
        position: relative;
        width: 20rem;
        height: 20rem;

        margin-bottom: 7rem;
        background-color: white;
        padding: 10px;
    }
    
    .StartPage__right--img {
        width: 20rem;
        height: 20rem;
        
        box-shadow: inset 0px 0px 193px 0px rgba(0, 0, 0, 0.5);
    }
    
    h1 {
        font-size: 2rem;
        text-transform: uppercase;

        margin-top: .5rem;
        margin-bottom: 1rem;
    }           
    
    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .StartPage__description {
        font-size: 1rem;
    
        margin-bottom: 1.5rem;
    }
    
      
    .button__start {
        display: inline-block;
        padding: 1rem 1.5rem;
        
        border-radius: 1rem;
        font-size: 1rem;

        margin-bottom: 1rem;
    }
    
    .StartPage__item--raduga {
        width: 7rem;
        height: 4rem;
    
        bottom: -2.2rem;
        right: -2rem;
    }
    
    .StartPage__item--bint {
        width: 4rem;
        height: 4rem;
    
        top: -1rem;
        left: -1rem;
    }
    
    .StartPage__item--side {
        width: 1rem;
        height: 3rem;
    
        top: 14rem;
        right: 0;
    }
    
    .StartPage__item--star {
        width: 3rem;
        height: 3rem;
        
        bottom: -.5rem;
        left: -.5rem;
    }
    
    .StartPage__item--flower {
        width: 3rem;
        height: 4rem;
        
        top: 13rem;
        left: 2rem;
    }
    
    .StartPage__item--heart {
        width: 2rem;
        height: 2rem;
        
        bottom: 2rem;
        left: 6rem;
    }
    
    .StartPage__item > img {
        width: inherit;
        height: inherit;
    }

}

@media screen and (max-width: 1000px) {
   
    .second__bg {
        background-image: url('../assets/picter/secon-page/1.png'), url('../assets/picter/secon-page/2.png'),
        url('../assets/picter/secon-page/3.png'), url('../assets/picter/secon-page/5.png'),
        url('../assets/picter/secon-page/4.png');
        background-position: left top, right top, left bottom +3rem, right bottom +2rem, right bottom +14rem;
        background-repeat: no-repeat;
        background-size: 5rem 9rem, 10rem 5rem, 7rem 7rem, 9rem 6rem, 3rem 6rem;
        background-attachment: fixed;
    }

    .second {
        padding: 2rem;

        
    }
    
    .second__wrapper {
        font-family: 'Oswald', sans-serif;
        width: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        margin-bottom: 10rem;
    }

    .seecond__left:first-child {
        margin-top: 1rem;
    }
    
    .seecond__left {
        margin-bottom: 5rem;
    }

    .second__wrapper:last-child {
        margin-bottom: 5rem;
    }

    
    .second__wrapper:nth-child(3) {
        flex-direction: column;
    }
    
    .seecond__left {
        color: #7c6148;
        width: 90%;
    }
    
    .second__title {
        font-family: 'Suez One', serif;
    
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    .second__subTitle {
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
    
        color: #cba882;
        margin-bottom: 1rem;
    }
    
    .second__text {
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: .1rem;
        line-height: 1.2rem;
    
        color: #cba882;
    }
    
    .second__right {
        position: relative;
    }
    
    .second__item--bint {
        width: 15rem;
        height: 4rem;
    
        top: -2rem;
        left: 4rem;
    }
    
    .second__item--side {
        width: 2rem;
        height: 5rem;
    
        top: 6rem;
        right: -1rem;
    }
    
    .second__item--raduga {
        width: 8rem;
        height: 5rem;
    
        bottom: -2rem;
        left: -2rem;
    }
    
    .second__img {
        background-color: white;
    
        padding: .5rem;
    
        transform: rotate(4deg);
    }
    
    .second__item {
        position: absolute;
    }
    
    .second__item > img{
        width: 100%;
        height: 100%;
    }
    
    
    .second__img > img{
        width: 20rem;
        height: 20rem;
    }
}